<p style="color: green"><%= notice %></p>
  
<%= link_to "Edit this person", edit_person_path(@person) %>
<br/><br/>

<%= render @person %>

<div>

  <div id="addresses">
  <% @person.addresses.each do |address| %>
    <%= render address %>
    <p>
      <%= link_to "Show this address", address %>
    </p>
  <% end %>
</div>

<div id="emails">
  <% @person.emails.each do |email| %>
    <%= render email %>
    <p>
      <%= link_to "Show this Email", email %>
    </p>
  <% end %>
</div>

  <div id="phones">
  <% @person.phones.each do |phone| %>
    <%= render phone %>
    <p>
      <%= link_to "Show this phone", phone %>
    </p>
  <% end %>
</div>

  <%= link_to "Back to people", people_path %>

  <%= button_to "Destroy this person", @person, method: :delete %>
</div>
